* { box-sizing: border-box; }

div.flex-box {
	display: flex;
	align-items: center;
	margin: 0 4vw;
	height: 90vh;
	margin-bottom: 10vh;
}

.title, .name, .coming-soon {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.title {
	font: normal 96px 'Muli', Helvetica, sans-serif;
	line-height: 0;
	color: #191616;
}

.name {
	font: normal 18px 'Open Sans', Helvetica, sans-serif;
	color: #B2B0B0;
}

.name a {
	text-decoration: none;
	color: #EEA243;
}
.name a:hover {
	text-decoration: underline;
}

.coming-soon {
	font: normal 12px 'Open Sans', Helvetica, sans-serif;
	color: #B2B0B0;
	position: fixed;
	bottom: 24px;
	right: 24px;
}

br.mobile-break {
	display: none;
}

@media (max-width: 900px) {
	.title {
	font-size: 10.5vw;
	}
	.name {
	font-size:calc(10px + 0.9vw);
	}
}

@media (max-width: 500px) {
	.title {
	font-size: 90px;
	line-height: 120%;
	margin-top: 0px;
	}
	.name {
	font-size: 18px;
	line-height: 140%;
	}
	br.mobile-break {
	display: inline;
}
}